<div class="errorFont">
  <h2 class="text-center py-2 text-info">Repositories</h2>
  <div class="d-flex flex-wrap">
    <div class="border col-md-4 border-info p-3" *ngFor="let repo of repos">
      <h3 class="text-info">{{ repo.name }}</h3>
      <p>Created: {{ repo.created_at |date }}</p>
      <p>Language Used: {{ repo.language }}</p>
      <p>{{ repo.description }}</p>
      <button class="btn btn-info">
        <a href="{{ repo.html_url }}" target="_blank">To gitHub</a>
      </button>
    </div>
  </div>
</div>
